@import "../slicer";

$small-to-medium: (from: 'small', to: 'medium');

/* Test Stylesheet */
body {

    @include to('tiny') {
        background: yellow;
    }

    @include at('small') {
        background: red;
    }

    @include between('small', 'normal') {
        background: green;
    }

    @include bp($small-to-medium) {
        background: green;
    }

    @include from('small') {
        background: purple;
    }


    // Print
    @include print {
        content: 'Viewing this in print mode!';
    }
}

html {
    @include to('tiny') {
        background: red;
    }
}
