// Slicer: Variables

$breakpoint-em-base-context: 16px !default;
$breakpoint-em-convert: false !default;

$breakpoint-media-default: 'screen' !default;

// Horizontal breakpoints
$breakpoint-horizontal: (
    base: 0,
    tiny: 400px,
    small: 600px,
    medium: 800px,
    normal: 1000px,
    large: 1200px
) !default;

// Vertical breakpoints
$breakpoint-vertical: (
    base: 0,
    small: 300px,
    normal: 600px,
    large: 900px
) !default;
